@model ProductDashboard.Models.ViewModels.ProductListViewModel


<div class="dashboard-container">
    

    <!-- Loading Indicator -->
    <div id="loadingIndicator" class="text-center d-none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!-- Product List Container -->
    <div id="productContainer">
        @await Html.PartialAsync("~/Views/Product/_ProductList.cshtml", Model)
    </div>
</div>
